.inputField {
  width: 100%;
  padding: 12px;
  font-size: 1.2em;
  border: 2px solid lightgrey;
  border-radius: 8px;
  transition: all 0.2s ease;
}
.inputField:focus {
  box-shadow: 0 0 20px rgb(223, 223, 223);
  outline: none;
  border: 2px solid rgb(123, 123, 123);
}
