.headerContainer {
  background-color: rgb(252, 240, 226);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  margin: 0;
  font-size: 40px;
}

.navGrp ul {
  display: flex;
  gap: 30px;
}

.navGrp ul li {
  font-size: 1.2em;
  list-style: none;
  padding: 12px 15px;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.navGrp ul li:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: rgb(255, 220, 116);
}
