.headerContainer{
    padding: 20px;
    background-color: rgb(225, 221, 214);
    overflow-x: auto;
}

.headerList{
    display: flex;
    gap:15px;
}

.postCard{
    min-width:100px;
    font-size: 1.1em;
    padding:10px 50px;
    border:1px solid black;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.postCard:hover{
    transform: scale(1.02);
}

.postCard h3{
    text-decoration:underline
}

.postCard h5{
    font-weight: 600;
}

.postCard span{
    font-weight: 300;
}